{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
  <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div style="width: 230px; margin: 30% auto">
<form action="{{ path("fos_user_security_check") }}" method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  <div>
    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
  </div>
  <div>
    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" />
  </div>
  <div>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" style="margin: 0 10px"/>
    <label for="remember_me" style="float:left; clear: bottom;">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
  </div>
  <div style="padding: 10px 0">
    <input class="btn btn-small btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
  </div>
</form>
</div>
{% endblock fos_user_content %}
